* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #cccccc;
}

.header {
    color: #fff;
    background-color: #505050;
    text-align: center;
    height: 350px;
    margin-bottom: 30px;
}

h1 {
    padding: 40px 0 10px 0;
    font-size: 3rem;
}

.header p {
    /* margin-bottom: 10px; */
    font-size: 2rem;
}

.header img {
    border: solid 10px #fff;
    transform: translateY(70px);
    width: 245px;
    border-radius: 50%;
    box-shadow: 1px 1px 10px #555;
}

main {
    background-color: #fafafa;
    height: 100vh;
}

.seccion {
     margin: auto;
     padding: 150px 100px;
     padding-bottom: 50px;
     /* height: 350px; */
     width: 90%;
     box-shadow: 1px 1px 10px #555;
     text-align: center;
}

.icons {
    color: #a1a1a1;
    font-size: 1.5rem;
    padding: 20px 0;
    /* border: solid thin red; */
}

.icons i {
    margin: 0 5px;
}

.seccion article {
    text-align: center;
    margin-bottom: 30px;
}

.btns button {
    padding: 10px 20px;
    background-color: #09bfcc;
    border: none;
    color: #fff;
    margin: 0 10px;
    cursor: pointer;
    box-shadow: 1px 1px 7px #555;
}

.experience h2 {
    text-align: center;
    padding: 20px 0;
    color: #575656
}

.container-experience {
    border: solid thin green;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 100px;
    /* gap: 10px; */
}

.elements {
    /* border: solid thin red; */
    box-shadow: 1px 1px 7px #555;
    /* margin-bottom: 40px; */
}

.elements h3 { 
    font-weight: 100;
    padding: 20px;
    background-color: #424242;
    color: #fff; 
}

.extra-information {
    padding: 20px;
}

.title,
.date {
    font-weight: 600;
    margin-bottom: 10px;
}

.separador-uno {
    padding: 0 50px;
    border-right: 2px #09bfcc solid;
}

.separador-uno .elements {
    margin-bottom: 30px;
}

.separador-dos {
    padding: 0 50px;
    /* border: solid thin red; */
}

.separador-dos .elements:first-child {
    border: solid thin red;
    transform: translateY(50px);
}

.separador-dos .elements:nth-child(2) {
    border: solid thin red;
    transform: translateY(50px);
}

.separador-dos .elements {
    margin-bottom: 30px;
}